# Variables de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Directorios de sistema
.DS_Store
Thumbs.db

# Directorio de uploads
public/uploads/*
!public/uploads/.gitkeep

# Archivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de cobertura
coverage/

# Archivos de construcción
dist/
build/
.next/